#menu {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#menu ul {
    height: auto;
    width: 100%;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
    display: inline; 
    padding: 112.5px; 
}

#menu a {
    text-decoration: none;
    color: #0a0b0c;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #ffffff;
    background-color: black;
}
